// Font Library
@font-face {
  font-family: avenir-regular;
  src: url("../assets/Fonts/avenir-regular.otf");
}

@font-face {
  font-family: avenir-bold;
  src: url("../assets/Fonts/avenir-bold.otf");
}

@font-face {
  font-family: avenir-demi;
  src: url("../assets/Fonts/avenir-demi.otf");
}
